/* Style du header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(84, 155, 221);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.logo img {
  max-height: 50px;
  border-radius: 50px;
}

.shopicon {
  color: black;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

/* Styles pour le menu hamburger */
.hamburger {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

/* Bouton de fermeture */
.close-button {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

/* Styles responsive pour petits écrans */
/* Styles responsive pour petits écrans */
@media (max-width: 768px) {
  .nav-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Menu caché */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

  }

  .nav-menu.open {
    transform: translateX(0); /* Menu visible */
  }

  .nav-menu ul {
    flex-direction: column;
    padding: 85px;
    gap: 10px;
    font-size: 50px;
  }

  .nav-menu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); /* Ligne de séparation */
    padding: 10px 0; /* Espacement vertical */
  }
  
  .nav-menu ul li:last-child {
    border-bottom: none; /* Supprime la bordure pour le dernier élément */
  }

  .hamburger {
    display: block;
  }

  .close-button {
    display: block;
    color: red;
  }
}

